<script type="text/javascript">

  if (location.search != "") {
      console.log("DETECTED SOME URL PARAMS")

      var selectedTech = location.search.split("?tech=")[1].trim()
      console.log("SELECTED TECH:", selectedTech)

      if (selectedTech != "") {

          d3.select('span#selected-technology')
              .append("h3")
                  .text("Technology: "+selectedTech);

          //var rubyPosts = $( "div.post[data-technologies*='ruby']" ).length
          //var nonrubyPosts = $( "div.post:not([data-technologies*='ruby'])" ).length
          //$( "div.post:not([data-technologies*='ruby'])" ).each(function(i, el){
          //    el.remove()
          //});

          $( "div.post:not([data-technologies*='"+selectedTech+"'])" ).each(function(i, el){
              el.remove()
          });

      }; // if there is a selected technology in the url params

  }; // if url params are present

</script>
