<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline">
            <li>
              <a class="page-scroll" href="{{ home_path_prefix }}#home">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a class="page-scroll" href="{{ home_path_prefix }}#about">About</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a class="page-scroll" href="{{ home_path_prefix }}#services">Services</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a class="page-scroll" href="{{ home_path_prefix }}#contact">Contact</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/blog">Blog</a>
            </li>
        </ul>
      </div>
      <div class="col-md-4 text-nowrap" style="height:30px;">
        <p>Credits:
          <a href="https://pages.github.com/">GitHub Pages</a>,
          <a href="https://github.com/swcool/landing-page-theme">Landing Page Theme</a>,
          <a href="https://github.com/data-creative/data-creative.github.io/blob/master/CREDITS.md">et al.</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright text-muted small">{{ site.copyright }}</p>
      </div>
    </div>
  </div>
</footer>
