<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="{{ home_path_prefix }}#{{ 'home' }}">
          {{ site.title }}
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- The page-scroll links don't observe animation if their href value contains a "/", so for page-scroll links on the homepage, use only anchor tags ("#my_anchor") -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="{{ home_path_prefix }}#about">About</a>
        </li>

        <li class="dropdown">
          <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Services <span class="caret"></span>
          </div><!-- normally a button but here a div (to prevent a click from toggling the menu open/closed when collapsed) ... styled to match the links -->

          <ul class="dropdown-menu">
            {% for post in site.categories["services"] reversed %}
            <li><a class="page-scroll" href="{{ home_path_prefix }}#{{ post.identifier }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li>
          <a class="page-scroll" href="{{ home_path_prefix }}#contact">Contact</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
