<section id="post-list">
<!-- A List of Posts-->
{% for post in site.categories["posts"] %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a post" data-techTag="ruby">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6" style="margin-bottom:1.5em;">
										{% include post_list_item.html %}
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" style="max-height:20em;" src="{{ site.baseurl }}/img/posts/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b post" data-techTag="python">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6" style="margin-bottom:1.5em;">
									{% include post_list_item.html %}
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" style="max-height:20em;" src="{{ site.baseurl }}/img/posts/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
