<section id="post-header">
<!-- Header -->
  {% if page.use_img_as_post_header == true %}
	<div style="padding-top: 50px; padding-bottom: 50px; text-align: center; color: #f8f8f8; background: url({{ site.baseurl }}/img/posts/{{ page.img }}) no-repeat center center; background-size: cover;">
	{% else %}
	<div class="intro-header">
	{% endif %}






		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
            <hr class="intro-divider">
            <h3>
            {% if page.author %}
              Posted by {{ page.author }} on {{ page.date | date: "%Y-%m-%d" }}
            {% else %}
              {{ page.date | date: "%Y-%m-%d" }}
            {% endif %}
            </h3>

            {% if page.technologies %}
            <div>
              <ul class="list-inline" style="display:inline;">
                {% assign sorted_technologies = page.technologies | sort %}
                {% for item in sorted_technologies %}
                  <li style="text-shadow: 2px 2px 3px rgba(0,0,0,0.6);">{{item}}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>

<section id="post-content">
  <div class="container">
    <div class="row" style="margin-top:2em;">
      <div class="col-lg-12">
        {{ page.content }}
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
